In [12]:
import neo4j 
import pandas as pd
from credentials import uri, user, pwd
from patent_neo4j.connection import Neo4jConnection

In [2]:
df = pd.read_csv("Data/important_patents.csv")
df.head(8)

        id                         name
0  4136359           AppleMicrocomputer
1  4237224            MolecularChimeras
2  4371752      DigitalVoiceMailSystems
3  4399216  Co-transformationGeneCoding
4  4683195      PolymeraseChainReaction
5  5061620                     StemCell
6  5108388           LaserSurgeryMethod
7  6285999                     PageRank

In [3]:
conn = Neo4jConnection(uri, user, pwd)
result = conn.query_nber_category(root=df.id[0])

In [16]:
result = result.sort_values(by=['date'])

In [23]:
result.head()

,id,category,subcategory,root_category,root_subcategory,date,lineage,direct,generation
1684,4344075,2,23,4,49,1982-08-10,[4136359],4136359,1
9458,4383296,2,24,4,49,1983-05-10,[4136359],4136359,1
9777,4481576,2,24,4,49,1984-11-06,"[4383296, 4136359]",4383296,2
4304,4500908,4,49,4,49,1985-02-19,[4136359],4136359,1
9953,4503429,2,23,4,49,1985-03-05,"[4383296, 4136359]",4383296,2

In [25]:
for index,row in result.iterrows():
    x = row.id

In [21]:
test = result[result['id'] == "6226017"]['category']

In [26]:
groups = result