# Getting Geo-Coordinates and Calculate Locational Difference
Obtaining the citation trees of a given a patent, the distance (using great circle) is calculated. As for now (08/06/2021), I have no clue what to do with it. But I am interested in characterizing the "dispersion" of location, which is analagous to the dispersion of ideas.

In [9]:
import neo4j 
import pandas as pd
from credentials import uri, user, pwd
from patent_neo4j.connection import Neo4jConnection
from patent_neo4j.analysis import geo_distance

In [3]:
df = pd.read_csv("Data/important_patents.csv")
df.head(8)

        id                         name
0  4136359           AppleMicrocomputer
1  4237224            MolecularChimeras
2  4371752      DigitalVoiceMailSystems
3  4399216  Co-transformationGeneCoding
4  4683195      PolymeraseChainReaction
5  5061620                     StemCell
6  5108388           LaserSurgeryMethod
7  6285999                     PageRank

In [7]:
conn = Neo4jConnection(uri, user, pwd)
geo = conn.query_geo_coordinate(root=df.loc[1,:].id)

  latitude longitude country
0  37.4267   -122.17      US

### Potential Issue
Dropping NAs is probably **not** random! Most of the missing lat,long are from non-US companies

In [10]:
geo = geo_distance(geo)

In [11]:
geo.head()

,id,latitude,longitude,country,lineage,lineage_lat,lineage_long,distance
0,4818694,41.0721,-73.5444,US,4237224,37.4267,-122.1700,2580.215530
1,9555099,47.6320,-122.3280,US,4818694,41.0721,-73.5444,2411.270467
2,9624273,42.3784,-71.1316,US,4818694,41.0721,-73.5444,153.700554
3,10350288,42.3784,-71.1316,US,9624273,42.3784,-71.1316,0.000000
4,9895435,47.6320,-122.3280,US,4818694,41.0721,-73.5444,2411.270467